.hero {
	background:
		url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2e317a1c-f1ce-4a5f-90db-d88cc01db2d0/diaa3q7-879c3254-a1af-4540-8f9f-bf8def9459bb.png/v1/fill/w_1192,h_670,q_70,strp/avengers_doomsday_wallpapaper_4k_hd_2026_by_andrew_by_mrandrew7w7_diaa3q7-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6Ii9mLzJlMzE3YTFjLWYxY2UtNGE1Zi05MGRiLWQ4OGNjMDFkYjJkMC9kaWFhM3E3LTg3OWMzMjU0LWExYWYtNDU0MC04ZjlmLWJmOGRlZjk0NTliYi5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.8_oyY1X_k2OE6Fwuvi0gdlG8olPVmb8Sya6LYGhtjwo")
		no-repeat center top/cover;
	height: 100vh;
	display: flex;
	align-items: flex-end;
	padding: 100px 80px;
	position: relative;
}

.hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.3));
}

.hero-content {
	position: relative;
	z-index: 2;
	max-width: 600px;
	margin-bottom: 70px;
}

.hero h1 {
	font-size: 56px;
	margin-top: 10px;
	line-height: 1.2;
}

.hero .description {
	margin-top: 15px;
	line-height: 1.5;
	font-size: 15px;
	color: #ddd;
}

.booking-container {
	margin: 50px auto;
	display: flex;
	background-color: #ffffff;
	border-radius: 8px;
	overflow: hidden;
	width: 60.5%;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 10;
}

.booking-container select {
	border: none;
	outline: none;
	padding: 15px 25px;
	font-size: 16px;
	color: #444;
	background-color: transparent;
	cursor: pointer;
	transition: background-color 0.3s ease;
	flex: 1; 
}

.booking-container select:hover {
	background-color: #f2f2f2;
}

.booking-container .buy-btn {
	width: 150px;
	height: auto; 
	border-radius: 0; 
}

#now-showing, #coming-soon {
	padding: 0 100px;
}


