footer {
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 80px;
	background-color: #080808;
}

.container {
	width: 100%;
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 12px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

.wrapper .footer-widget {
	width: calc(15% - 10px);
	margin: 0 15px 50px;
	padding: 0 12px;
}

.wrapper .footer-widget:nth-child(1) {
	width: calc(40% - 50px);
	margin-right: 15px;
}

.wrapper .footer-widget .logo {
	margin-bottom: 30px;
	vertical-align: middle;
}

.wrapper .footer-widget p {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 24px;
}

.wrapper .footer-widget .socials {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.wrapper .footer-widget .socials li {
	list-style: none;
}

.wrapper .footer-widget .socials li a {
	width: 44px;
	height: 44px;
	margin-right: 10px;
	color: #ffffff;
	background-color: #ff3366;
	border-radius: 50%;
	font-size: 20px;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-out;
}

.wrapper .footer-widget .socials li a:hover {
	background-color: #ff3366;
}

.wrapper .footer-widget h6 {
	color: #585978;
	margin: 10px 0 35px;
	font-size: 20px;
	font-weight: 600;
}

.wrapper .footer-widget .links li {
	list-style: none;
}

.wrapper .footer-widget .links li a {
	color: #585978;
	font-size: 16px;
	text-decoration: none;
	text-transform: capitalize;
	line-height: 32px;
	transition: all 0.3s ease-out;
}
