* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
	display: flex;
	background-color: #f1f5f9;
}

.sidebar {
	width: 260px;
	background-color: #0f172a;
	color: white;
	display: flex;
	flex-direction: column;
	position: fixed;
	height: 100%;
}

.sidebar-header {
	padding: 30px 20px;
	text-align: center;
	border-bottom: 1px solid #334155;
}

.sidebar-header h2 {
	font-size: 24px;
	font-weight: 700;
}

.sidebar-header h2 span {
	color: #ff3366;
}

.sidebar-menu {
	padding: 20px 0px;
}

.sidebar-menu a {
	display: flex;
	align-items: center;
	padding: 15px 25px;
	color: #94a3b8;
	text-decoration: none;
	font-size: 16px;
	transition: 0.3s;
	border-left: 4px solid transparent;
}

.sidebar-menu a i {
	margin-right: 15px;
	width: 20px;
	text-align: center;
}

.sidebar-menu a:hover, .sidebar-menu a.active {
	background-color: #1e293b;
	color: #fff;
	border-left-color: #ff3366;
}

.main-content {
	margin-left: 260px;
	flex: 1;
	padding: 30px;
}

.header-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.header-title h1 {
	font-size: 24px;
	color: #1e293b;
}

.user-admin {
	color: #64748b;
	font-weight: 500;
}

.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
	background: white;
	padding: 20px; 
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.btn-add {
	background-color: #ff3366;
	color: white;
	padding: 10px 20px;
	border-radius: 6px;
	text-decoration: none;
	font-weight: 600;
	display: flex;
	align-items: center;
	gap: 8px;
	border: none;
	cursor: pointer;
	transition: background 0.3s;
}

.btn-add:hover {
	background-color: #e11d48;
}

.search-box {
	display: flex;
	align-items: center;
	background: #f8fafc;
	border-radius: 6px;
	padding: 8px 15px;
	border: 1px solid #cbd5e1;
}


.recent-grid {
	background: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

table {
	width: 100%;
	border-collapse: collapse; 
	margin-top: 10px;
}

thead tr {
	border-bottom: 2px solid #e2e8f0;
	text-align: left;
}

th {
	padding: 15px 10px; 
	color: #64748b;
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

td {
	padding: 15px 10px; 
	color: #334155;
	font-size: 0.95rem;
	border-bottom: 1px solid #f1f5f9; 
	vertical-align: middle; 
}

tbody tr:hover {
	background-color: #f8fafc;
}

.status {
	padding: 6px 12px;
	border-radius: 20px;
	font-size: 0.8rem;
	font-weight: 600;
}

.status.success {
	background: #dcfce7;
	color: #166534; 
}

.status.pending {
	background: #fff7ed; 
	color: #9a3412; 
}

.action-btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border-radius: 6px;
	text-decoration: none;
	margin-right: 5px;
	transition: all 0.2s;
}

.btn-delete {
	background: #fef2f2;
	color: #ef4444;
}

.btn-delete:hover {
	background: #ef4444;
	color: white;
}
